Downloads/
tmp/*
work/*

.Xauthority
.cache
.bashrc
.bash_logout
.bash_profile
.docker/
.python_history

.local/share/newsboat
.local/share/weatherreport
.local/share/xorg
.local/share/nvim/
.local/share/ranger/

.config/nvim/plugged/
.config/nvim/autoload/
.config/zsh/.zcompdump
.config/zshnameddirrc
.config/pulse
.config.BraveSoftware
.config/mimeapps.list

.local/src
.ssh

.pki

.config/BraveSoftware/
.config/GitKraken/
.config/chromium/
.config/dconf/
.config/menus/
.config/ncmpcpp/error.log
.config/pavucontrol.ini
.config/spotify/

.gitkraken/
.gnome/
.gnupg/
.local/lib/
.local/share/applications/chrome-hmjkmjkepdijhoojdojkdfohbdgmmhki-Default.desktop
.local/share/applications/mimeinfo.cache
.local/share/cargo/
.local/share/desktop-directories/
.local/share/icons/
.local/share/recently-used.xbel
.local/share/zathura/
.todoist.cache.json
.todoist.config.json


.web_config
