.Xauthority
.cache
.bashrc
.bash_logout
.bash_profile
.docker/
.python_history/
.local/share/newsboat
.local/share/weatherreport
.local/share/xorg
.local/share/nvim/
.local/share/ranger/

.config/nvim/plugged/
.config/nvim/autoload/
.config/zsh/.zcompdump
.config/zshnameddirrc
.config/pulse
.config.BraveSoftware

.local/src
.ssh

work
.pki
